$primary-color: #198754;
$background-color: #34353d;

@mixin focus-style {
	box-shadow: 0 0 0 1px $primary-color;
	border: 1px solid $primary-color;
}

#extension-body {
	height: minmax(max-content, 550px);
	width: 780px;
	background-color: $background-color;
	display: flex;
	align-self: center;
	padding: 20px;
	padding-top: 5px;
	flex-direction: column;

	#reset {
		width: 15px;
		position: absolute;
		top: 20px;
		left: 30px;
	}
	#reset-img {
		height: 15px;
	}

	#extension-request,
	#request-param {
		display: grid;
		grid-template-columns: max-content max-content;
		justify-content: space-around;
		input:checked {
			background-color: $primary-color;
			border-color: $primary-color;
		}
		input:focus {
			@include focus-style;
		}
	}

	#request-param {
		grid-template-columns: max-content max-content max-content;
		padding: 10px;
	}
	#extension-input-all,
	#extension-input-one {
		display: grid;
		grid-template-columns: 80% 12% 6%;
		gap: 5px;
		margin-bottom: 10px;
		button {
			background-color: $primary-color;
			width: 100%;
		}

		input:focus {
			@include focus-style;
		}
	}

	file {
		display: grid;
		grid-template-columns: 80% 20%;
		justify-items: center;
		div {
			padding: 0.5rem;
			padding-left: 25px;
			justify-self: start;
		}
		img {
			width: 21px;
			margin: 10px;
			cursor: pointer;
			transition: transform 0.2s;
		}
		img:active {
			transform: scale(0.9);
		}
	}
}
